@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Story+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
  background-color: #4F772D;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  padding: 10px;
  background-color: honeydew;
  margin-top: 5vw;
  border-radius: 15px;
  z-index: 20;
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
.nav-bar a:hover {
  border-bottom: 3px solid black;
  transition: 0.1s;
}

#logo {
  width: 5vw;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

li {
  list-style: none;
}

#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.title-main{
    font-size: 3rem;
    margin-top: 3rem;

}
.subtitle-main{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.title-main, .subtitle-main{
    color: #375623;
    font-weight: 500;
       font-family: 'Story Script', cursive;
}
.hibisco{
    width: 30vw;
    height: auto;
    margin-left: 5rem;
}
footer{
    margin-top: 5rem;
    background-color: #4F772D;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 390px) {
    

    .nav-bar {
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin-top: 2rem;
        padding: 15px;
    }

    ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #logo {
        width: 30vw; 
        margin-bottom: 10px;
    }

    #main-container {
        flex-direction: column;
        margin-top: 2rem;
        padding: 0 10px;
    }

    .title-main {
        font-size: 2rem;
        text-align: center;
    }

    .subtitle-main {
        font-size: 1.2rem;
        text-align: center;
    }

    .hibisco {
        width: 60vw;
        margin-left: 0;
        margin-top: 1rem;
    }


    footer {
        height: auto;
        padding: 10px 0;
        font-size: 0.9rem;
        text-align: center;
    }


    .main-content {
        width: 95%;
        padding: 15px;
        height: auto;
    }

    form {
        padding: 15px;
        gap: 10px;
    }

    input, textarea, #btn-cadastrar {
        width: 100%;
        max-width: 100%;
    }

    #btn-cadastrar {
        font-size: 18px;
    }
}
#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
} 